.info {
    background-color: rgb(60, 0, 138);
    color: white;
    height: auto;
    padding-top: 2%;
    padding-bottom: 8%;
}

.info .info-box {
    margin: 0 auto;
}

.info .info-box p {
    padding: 0;
    margin: 0;
} 

.slider-box {
    padding: 0;
    margin: 0;
    height: auto;
}

.btn-top {
    border-radius: 20px;
    border: 1px solid white;
    background-color: transparent !important;
    color: white;
}

.btn-top:hover {
    background-color: white !important;
    color: black;
}