.main { 
    margin: 50px 0;
}
.hr {
    background-color: rgb(60, 0, 138);
    height: 8px;
    border-radius: 20px;
    width: 90%;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color: rgb(60, 0, 138);
}